.carousel-item img {
    width: 1320px;
    height: 600px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    padding-top: 20px;
}

.carousel-caption {
    padding-bottom: 100px;
}


.carousel-caption h5 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 25px;


}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 19px;
    line-height: 1.8;

}