.carousel-caption p {

    font-size: 19px;
    line-height: 1.8;

}

.carousel-caption h5 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
}

footer {
    padding: 100px;
}

.my-img {
    filter: brightness(50%);
}

@media (max-width:576px) {
    .carousel-caption h5 {
        font-size: 1em;
    }

    .body {
        overflow: hidden;
    }

    .carousel-caption p {
        font-size: 0.5em;
    }

    .carousel-caption .btn {
        size: 10px;
    }
}